<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="FTPUserName" value="nordfinftp"/>
    <add key="FTPPassword" value="ymLzybGr"/>
    <add key="FTPDomain" value="ftp://46.59.24.12/"/>
    <add key="FTPAzureUserName" value="NordfinArchive"/>
    <add key="FTPAzurePassword" value="g4mNxfn9QsLfPDPPDWGJK"/>
    <add key="FTPManualInvoiceUserName" value="NordTransformedFiles"/>
    <add key="FTPManualInvoicePassword" value="LAvrRoz21ca1p1IDpg5pO"/>
    <add key="FTPAzureDomain" value="ftp://client.nordfincapital.com/"/>
    <add key="FileExtension" value="pdf"/>
    <add key="FileFolder" value="Archive"/>
    <add key="VersionConfiguration" value="5.11.25"/>
    <add key="Email" value="no-reply@nordfincapital.com"/>
    <add key="EmailPassword" value="NordF123"/>
    <add key="EmailPort" value="587"/>
  </appSettings>
  <connectionStrings>
    <add name="NordfinConnec" connectionString="Server=tcp:nordfinsqlserver.database.windows.net,1433;Initial Catalog=TestingProd;Persist Security Info=False;User ID=nordfin;Password=PHi74sOau64PHLqVjCKLJ;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=10000;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
    <customErrors mode="Off"/>
    <sessionState mode="InProc" timeout="240"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!--<jsonSerialization maxJsonLength="2000000000"/>-->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.8.0" newVersion="1.8.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Cas_ServiceSoap" />
        <binding name="GetDataSoap">
          <security mode="Transport" />
        </binding>
        <binding name="GetDataSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservice.creditsafe.se/CAS/cas_service.asmx"
        binding="basicHttpBinding" bindingConfiguration="Cas_ServiceSoap"
        contract="CreditSafeTemplate.Cas_ServiceSoap" name="Cas_ServiceSoap" />
      <endpoint address="https://webservice.creditsafe.se/getdata/getdata.asmx"
        binding="basicHttpBinding" bindingConfiguration="GetDataSoap"
        contract="GetDataTemplate.GetDataSoap" name="GetDataSoap" />
    </client>
  </system.serviceModel>
</configuration>