/*.divPadding {
    padding-right: 0px;
    padding-left: 0px;
    background-color: #3E4B64;

}
.divPaddingLeft {
    padding-left: 20px;
}


.divHeading {
    font-size: x-small;
    color: #A9BFD5;
    text-transform:uppercase;
}


.divText {
    display: block;
    color: #fff;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.divHrLine {
    border: 0.7px solid #475672;
    background-color: #475672;
    margin-top: 5px;
    margin-bottom: 5px;
}
.actionButtonColumn {
    padding-left: 5%;
    padding-right: 0px;
}

.updateInfoButtonContainer {
    background: #475672;
    height: 70px;
    margin-top: 0;
    padding-top: 10px;
}

.panelButton {
    background-color: transparent;
    border: 1px solid #3DADC5;
    color: #3DADC5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 15px;
    font-size: 10px;
    height: 90%;
    line-height: 25px
}*/
.row {
    margin-right: -7px !important;
}

.headingDiv {
    padding: 10px;
    background-color: #41546E;
    margin-bottom: 10px !important;
}

.tableDiv {
    background-color: #38445D;
    color: #707070;
    margin: 0px;
    
    width: 100%;
}
.overviewHeading {
    display: grid;
    grid-template-columns: 5fr;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    background-color: #41546E;
    font-weight: bolder;
}

.customerdivText
{
    visibility:visible;
   
}
.ResultHeight{
    height:21px;
}
.updateInfoButtonContainer 
{
    height:127px;
}
#tdCredicheck {
    background-color: rgb(44, 56, 80);
}

#tdCredicheck img.sideMenuIcon {
    filter: brightness(0) saturate(100%) invert(78%) sepia(49%) saturate(3809%) hue-rotate(359deg) brightness(101%) contrast(106%);
}


