#tdUser {
    background-color: rgb(44, 56, 80);
}

    #tdUser img.sideMenuIcon {
        filter: brightness(0) saturate(100%) invert(78%) sepia(49%) saturate(3809%) hue-rotate(359deg) brightness(101%) contrast(106%);
    }


﻿a.linkcss {
    color: #FFB100;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.Buttoncolor {
    background-color: #232D41;
    border: 1px solid #3DADC5;
    color: white;
}

.labelcolor {
    color: #FFB100;
}

    .labelcolor a {
        color: #FFB100 !important;
    }

.table td, .table th {
    border-top: 1px solid #485774 !important;
}

.table thead tr:hover {
    background-color: #2C3850;
}
.trHead {
    background-color: #2C3850 !important;
}

.matchCredit {
    width: 100px !important;
}

.itemalign {
    text-align: center;
    font-size: small;
    border: none;
}

.headerFont {
    font-size: x-small;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.tableFixHead {
    overflow-y: scroll;
    height: 430px;
}

.table tbody tr th{
    height:30px;
}
th {
    background: #475672;
}

.tableFixHead th {
    position: sticky;
    top: -2px;
}


.Background {
    overflow: hidden !important;
}

.Popup {
    position: absolute !important;
    height: 750px !important;
    width: 90% !important;
    overflow: hidden !important;
}
/*.table
{
    width:100%;
}
.table tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
}

.table thead, tbody {
    display: block;

}*/
::-webkit-scrollbar {
    width: 0em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.Notesalign {
    text-align: center;
    font-size: small;
    border: none;
}

.table td, .table th {
    border-top: 1px solid #485774 !important;
}

.table {
    width: 100% !important;
}


    .table tbody tr th {
        color: #A9BFD5;
        text-transform: uppercase;
        font-size: 13px;
        /* font-weight: bold; */
        font-weight: normal;
    }

    .table tbody tr td {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: normal;
    }

.table {
    border: none;
}


.divPadding {
    padding-right: 0px;
    padding-left: 0px;
}

.divPaddingLeft {
    padding-left: 20px;
}

.divHrLine {
    border: 0.7px solid #475672;
    background-color: #475672;
    margin-top: 5px;
    margin-bottom: 5px;
}

.divHeaderStyle {
    color: #A9BFD5;
}

.divFontStyle {
    color: #FFFFFF;
}

.Emptyrow td {
    border: none;
}

.customerdivHeading {
    font-size: x-small;
    color: #A9BFD5;
}

.divTopHeading {
    color: #FFFFFF;
    text-align: left;
    font-size: 25px;
    letter-spacing: 1px;
}

.customerdivText {
    display: block;
    color: #fff;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.totalsum {
    height: 32px;
    display: grid;
    grid-template-columns: 0.60fr 0.60fr 0.70fr 0.70fr 0.75fr 0.60fr 0.75fr 0.75fr 0.75fr 0.75fr;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #3e4b64;
    border-top: 2px solid #475672;
    color: #A9BFD5;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}




.downloadButton {
    width: 75px;
}



.updateInfoButtonContainer {
    background: #475672;
    height: 70px;
    margin-top: 0;
    padding-top: 10px;
}


.updateInfoButton {
    background-color: transparent;
    border: 1px solid #3DADC5;
    color: #3DADC5;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panelButton {
    background-color: transparent;
    border: 1px solid #3DADC5;
    color: #3DADC5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    padding-left: 15px;
    font-size: 10px;
    height: 90%;
    line-height: 25px
}

.customerInfoSidebar {
}





.dashboardHeader {
    height: 50px;
}


.customerNotes {
    margin-top: -110px;
    background-color: #2c3850;
}




@media all and (max-width: 905px) {

    .Popup {
        position: absolute !important;
        margin-left: 0 !important;
        height: 100% !important;
        width: 100% !important;
        left: 0 !important;
        top: 5% !important;
        overflow: scroll !important;
    }

    #popupHTML {
        overflow-y: scroll !important;
    }
}


.divcollapse {
    padding-bottom: 25px;
}

.plusIcon {
    display: inline-block;
}

.minusIcon {
    display: none;
}


.modalcloseButton {
    background-color: transparent;
    border: none;
    color: #ffffff;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 27px;
    font-size: 16px;
    position: absolute;
    top: 1px;
    right: 2px;
    padding: 0;
    z-index: 100;
}

input[type=checkbox] {
    margin-top: 6px !important;
}

.modalbutton {
    width: 100px;
    text-transform: uppercase;
    background-color: #232D41;
    border: 1px solid #3DADC5;
    height: 35px;
    line-height: 29px;
    color: #3DADC5;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 11px;
    margin: 0;
    padding: 0px;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    background-clip: border-box;
    margin: 20px;
    margin-top: 25px;
}

.updateInfoButton:focus {
    background-color: transparent;
    border: 1px solid #3DADC5;
    color: #3DADC5;
    display: block;
}

.modalbutton:hover {
    background-color: #3DADC5;
    color: #fff;
}


.modalcloseButton {
    background-color: transparent;
    border: none;
    color: #ffffff;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 27px;
    font-size: 16px;
    position: absolute;
    top: 1px;
    right: 2px;
    padding: 0;
    z-index: 100;
}

.hide {
    display: none !important;
}

.updateInfoButton:focus {
    background-color: transparent;
    border: 1px solid #3DADC5;
    color: #3DADC5;
    display: block;
}

.textboxModalColor, .textboxModalColor:focus {
    background-color: #2c3850;
    border-color: #2c3850;
    color: #a9bed8;
    width: 100%;
}

.modalbutton {
    width: 100px;
    text-transform: uppercase;
    background-color: #232D41;
    border: 1px solid #3DADC5;
    height: 35px;
    line-height: 29px;
    color: #3DADC5;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 11px;
    margin: 0;
    padding: 0px;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    background-clip: border-box;
    margin: 20px;
    margin-top: 25px;
}

.GridInvisible {
    display: none;
}

#NordfinContentHolder_grdInvoiceRemaining tbody tr:hover {
    color: #ffffff !important;
    background-color: rgba(255, 255, 255, 0.15);
}



.modalExportbutton {
    width: 40%;
    text-transform: uppercase;
    background-color: #232D41;
    border: 1px solid #3DADC5;
    height: 35px;
    line-height: 29px;
    color: #3DADC5;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 11px;
    margin: 0;
    padding: 0px;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    background-clip: border-box;
}

.modalBackground { /*#2C3850*/
    width: 900px !important;
    height: 500px !important;
    background-color: #323e53 !important;
    color: #fff !important;
    left: 25% !important;
    top: 15% !important;
    overflow: auto;
    position: fixed !important;
}

.manualInvoicePanel {
    width: 900px !important;
    left: 25% !important;
    top: 13% !important;
    height: 500px !important;
    overflow: auto;
    padding-top: 10px;
    padding-left: 10px;
    position:fixed !important;
}

.modal {
    position: absolute;
    float: left;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
}
