a.linkcss {
    color: #FFB100;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.Buttoncolor {
    background-color: #232D41;
    border: 1px solid #3DADC5;
    color: white;
  
}

.labelcolor {
    color: #FFB100;
}

.table td, .table th {
    border-top: 1px solid #485774 !important;
}

.itemalign {
    text-align: center;
    font-size: small;
    border: none;
   
    
}
.headerFont 
{
    font-size:x-small;
}
table {
    border-collapse: collapse;
    width: 100%;
}

.tableFixHead {
    overflow-y: auto;
    height: 430px;
}
th {
    background: #475672;
}
    .tableFixHead th {
        position: sticky;
        top: -2px;
    }


.Background {
    overflow: hidden !important;
}

.Popup {
    position: absolute !important;
    margin-left: 100px !important;
    height: 750px !important;
    width: 90% !important;
    left: 50px !important;
    top: 200px !important;
    overflow: hidden !important;
}
/*.table
{
    width:100%;
}
.table tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
}

.table thead, tbody {
    display: block;

}*/
::-webkit-scrollbar {
    width: 0em;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.Notesalign {
    text-align: center;
    font-size: small;
    border: none;
    
}

.table td, .table th {
    border-top: 1px solid #485774 !important;
}

.table
{
    width:100% !important;
}


.table tbody tr th {
    font-family: 'Source Sans Pro';
    color: #A9BFD5;
    text-transform: uppercase;
    font-size: 13px;
    /* font-weight: bold; */
    font-weight: normal;
}

.table tbody tr td {
    font-family: 'Source Sans Pro';
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: normal;
   
}

.table {
    border: none;
}


.divPadding {
    padding-right: 0px;
    padding-left: 0px;
}

.divPaddingLeft {
    padding-left: 20px;
}

.divHrLine {
    border:0.7px solid #475672;
    background-color:#475672;
    margin-top: 5px;
    margin-bottom: 5px;
}

.divHeaderStyle {
    font-family: 'Source Sans Pro';
    color: #A9BFD5;
}

.divFontStyle {
    color: #FFFFFF;
    font-family: 'Source Sans Pro';
}

.Emptyrow td{
    border:none;
}
.customerdivHeading {
    font-size: x-small;
    color: #A9BFD5;
    font-family: Source Sans Pro;
}

.divTopHeading {
    color: #FFFFFF;
    text-align: left;
    font-size: 25px;
    font-family: Source Sans Pro;
    letter-spacing: 1px;
}

.customerdivText {
    display: block;
    color: #fff;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.totalsum {
    height: 32px;
    display: grid;
    grid-template-columns: 0.60fr 0.60fr 0.70fr 0.70fr 0.75fr 0.60fr 0.75fr 0.75fr 0.75fr 0.75fr;
    align-items:center;
    text-align:center;
    color: #FFFFFF;
    background: #3e4b64;
    border-top: 2px solid #475672;

    color: #A9BFD5;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;

}




.downloadButton {
}



.updateInfoButtonContainer {
  background: #475672;
  height: 90px;
  margin-top: 0;
  padding-top: 20px;
}


.updateInfoButton {
  width: 128px;
  background-color: #3E4B64;
  border: 1px solid #3DADC5;
  color: #3DADC5;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.customerInfoSidebar {
  
}





.dashboardHeader {
  height: 50px;
}


.customerNotes {margin-top:-110px; }



