.title {
    color: #A9BFD5 !important;
    font-size: 12px !important;
}

.header {
    color: white !important;
    font-size: 20px !important;
    text-align:center !important;
    float:left !important;
}

.sectionHeader {
    color: white !important;
    font-size: 15px !important;
    text-align: center !important;
    padding-left:15px;
}

.invNumber {
    color: #a9bed8 !important;
    font-size: 12px !important;
}

.controls {
    background-color: #2c3850 !important;
    color: #a9bed8 !important;
    font-size: 12px !important;
    border: 1px solid #2c3850 !important;
}

.form-control:focus {
    border-color: #FFB100;
    box-shadow: 0 0 0 0.5px #FFB100;
}

.invoiceRow {
    font-size: 12px;
}

.Emptyrow td {
    border: none;
    color: #a9bed8 !important;
}

.errorModel {
    border-color: #2C3850;
    box-shadow: 0 0 0 1px #2C3850;
    top: 250px;
    background: none;
    width: 85% !important;
    left: 50px;
}

.errorIcon {
    color: #FFB100 !important;
}

.successIcon {
    color: #FFB100 !important;
}

table.invoiceRow {
    border-collapse: collapse;
    width:100%;
}

    table.invoiceRow th {
        padding: .25rem;
        vertical-align: middle;
        background-color: #475672 !important;
        border-top: 1px solid #485774 !important;
        color: #A9BFD5;
        font-weight: 400;
    }

    table.invoiceRow td {
        vertical-align: top;
        border-top: 1px solid #485774 !important;
        color: white;
    }

input[type="submit"]:disabled {
    background: #475672;
    border: 1px solid #475672;
    color: grey;
}

.rowButton {
    height: 30px;
    width: 100%;
}

@media only screen and (max-height:800px) {
    .pdfViewer {
        height: 530px;
    }

    .pdfViewerModal {
        height: 600px;
    }
}

@media only screen and (max-width:400px) {
    .manulInvoiceModal {
        left: 45% !important;
        width: 100% !important;
        overflow: auto !important;
    }

    .modal-content {
        width: 100% !important;
    }

    .pdfMessageAlign .rowButton {
        height: 30px;
        width: 30% !important;
    }

    .pdfViewer {
        width: 300px !important;
    }

    .pdfViewerModal {
        width: 360px;
    }

    .pdfViewerIframe {
        width: 350px !important;
    }

    .pdfMessage {
        font-size: 10px !important;
    }

    .pdfMessageAlign{
        padding-top:0px !important;
    }
}

@media only screen and (max-width:800px) and (min-width:400px) {
    .modal-content {
        width: 110% !important;
    }

    .manulInvoiceModal {
        left: 50%;
        overflow: auto !important;
    }

    .pdfMessage {
        font-size: 10px !important;
    }

    .pdfMessageAlign {
        padding-top: 0px !important;
    }
}

@media only screen and (max-width:1300px) and (min-width:900px) {
    .manulInvoiceModal {
        left: 30%;
        width: 155%;
    }
}

.pdfViewerIframe {
    height: 630px;
    width: 690px;
}

.pdfViewerModal {
    height: 700px;
    width: 700px;
    background-color: #2C3850
}

.pdfMessage {
    color: #A9BFD5 !important;
    font-size: 15px !important;
    font-weight: 600;
    text-transform: uppercase
}

.manulInvoiceModal {
    position: absolute;
    float: left;
    left: 45%;
    top: 60%;
    transform: translate(-45%, -50%);
}

.itemalign {
    text-align: center;
    /*font-size: small;*/
    border: none;
}

.pdfMessageAlign {
    padding-top: 15px
}

